<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceSection" type=" awsmanagerLib.Configuration.ServiceSection, awsmanagerLib" />
  </configSections>

  <serviceSection>
    <services>
      <clear />
      <Service serviceType="ApiGateWay" serviceName="123" metric="url"
        value="NotFound" />
      <Service serviceType="ApiGateWay" serviceName="soully" metric="url"
        value="NotFound" />
    </services>
  </serviceSection>
</configuration>