<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="AWSRegion" value= "us-east-1"/>
    <add key ="accessKey" value ="AKIAJP6LSVHTM7WHDWOQ"/>
    <add key ="secretKey" value="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"/>
  </appSettings>

</configuration>