<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceSection" type=" awsmanagerLib.Configuration.ServiceSection, awsmanagerLib" />
  </configSections>

  <serviceSection>
    <services>
      <clear />
      <Service serviceType="SQS" serviceName="Demo3" metric="CountOfMessages"
        value="4" />
      <Service serviceType="SQS" serviceName="Demo3" metric="CountOfMessagesInFlight"
        value="0" />
      <Service serviceType="SQS" serviceName="Demo3" metric="CreatedDate"
        value="8/13/2019 12:48:45 PM" />
      <Service serviceType="SQS" serviceName="demo.fifo" metric="CountOfMessages"
        value="0" />
      <Service serviceType="SQS" serviceName="demo.fifo" metric="CountOfMessagesInFlight"
        value="0" />
      <Service serviceType="SQS" serviceName="demo.fifo" metric="CreatedDate"
        value="8/1/2019 5:08:32 PM" />
      <Service serviceType="SQS" serviceName="demo2" metric="CountOfMessages"
        value="4" />
      <Service serviceType="SQS" serviceName="demo2" metric="CountOfMessagesInFlight"
        value="0" />
      <Service serviceType="SQS" serviceName="demo2" metric="CreatedDate"
        value="8/1/2019 5:33:27 PM" />
      <Service serviceType="Lambda" serviceName="GetStartedLambdaProxyIntegration"
        metric="Invocations" value="1" />
      <Service serviceType="Lambda" serviceName="GetStartedLambdaProxyIntegration"
        metric="Errors" value="0" />
      <Service serviceType="Lambda" serviceName="GetStartedLambdaProxyIntegration"
        metric="Duration" value="25.42" />
      <Service serviceType="Lambda" serviceName="GetStartedLambdaProxyIntegration"
        metric="Throttles" value="0" />
      <Service serviceType="Lambda" serviceName="GetStartedLambdaProxyIntegration"
        metric="ConcurrentExecutions" value="0" />
      <Service serviceType="Lambda" serviceName="demoFunc" metric="Invocations"
        value="14" />
      <Service serviceType="Lambda" serviceName="demoFunc" metric="Errors"
        value="1" />
      <Service serviceType="Lambda" serviceName="demoFunc" metric="Duration"
        value="1045.34166666667" />
      <Service serviceType="Lambda" serviceName="demoFunc" metric="Throttles"
        value="0" />
      <Service serviceType="Lambda" serviceName="demoFunc" metric="ConcurrentExecutions"
        value="0" />
      <Service serviceType="Lambda" serviceName="SQS-VPCE-Tutorial-Stack-ToUpper-1SJKUZKY5FB66"
        metric="Invocations" value="13" />
      <Service serviceType="Lambda" serviceName="SQS-VPCE-Tutorial-Stack-ToUpper-1SJKUZKY5FB66"
        metric="Errors" value="12" />
      <Service serviceType="Lambda" serviceName="SQS-VPCE-Tutorial-Stack-ToUpper-1SJKUZKY5FB66"
        metric="Duration" value="206.452307692308" />
      <Service serviceType="Lambda" serviceName="SQS-VPCE-Tutorial-Stack-ToUpper-1SJKUZKY5FB66"
        metric="Throttles" value="0" />
      <Service serviceType="Lambda" serviceName="SQS-VPCE-Tutorial-Stack-ToUpper-1SJKUZKY5FB66"
        metric="ConcurrentExecutions" value="0" />
      <Service serviceType="Lambda" serviceName="lambdamarylev" metric="Invocations"
        value="15" />
      <Service serviceType="Lambda" serviceName="lambdamarylev" metric="Errors"
        value="12" />
      <Service serviceType="Lambda" serviceName="lambdamarylev" metric="Duration"
        value="349.316666666667" />
      <Service serviceType="Lambda" serviceName="lambdamarylev" metric="Throttles"
        value="0" />
      <Service serviceType="Lambda" serviceName="lambdamarylev" metric="ConcurrentExecutions"
        value="0" />
      <Service serviceType="Lambda" serviceName="SQS-VPCE-Tutorial-Stack-ToLower-1WI9XGDDMM2WD"
        metric="Invocations" value="22" />
      <Service serviceType="Lambda" serviceName="SQS-VPCE-Tutorial-Stack-ToLower-1WI9XGDDMM2WD"
        metric="Errors" value="5" />
      <Service serviceType="Lambda" serviceName="SQS-VPCE-Tutorial-Stack-ToLower-1WI9XGDDMM2WD"
        metric="Duration" value="1888.69023809524" />
      <Service serviceType="Lambda" serviceName="SQS-VPCE-Tutorial-Stack-ToLower-1WI9XGDDMM2WD"
        metric="Throttles" value="3" />
      <Service serviceType="Lambda" serviceName="SQS-VPCE-Tutorial-Stack-ToLower-1WI9XGDDMM2WD"
        metric="ConcurrentExecutions" value="1" />
      <Service serviceType="Lambda" serviceName="demo4" metric="Invocations"
        value="5" />
      <Service serviceType="Lambda" serviceName="demo4" metric="Errors"
        value="0" />
      <Service serviceType="Lambda" serviceName="demo4" metric="Duration"
        value="223.568" />
      <Service serviceType="Lambda" serviceName="demo4" metric="Throttles"
        value="0" />
      <Service serviceType="Lambda" serviceName="demo4" metric="ConcurrentExecutions"
        value="0" />
      <Service serviceType="Lambda" serviceName="my-function" metric="Invocations"
        value="11" />
      <Service serviceType="Lambda" serviceName="my-function" metric="Errors"
        value="0" />
      <Service serviceType="Lambda" serviceName="my-function" metric="Duration"
        value="51.94375" />
      <Service serviceType="Lambda" serviceName="my-function" metric="Throttles"
        value="8" />
      <Service serviceType="Lambda" serviceName="my-function" metric="ConcurrentExecutions"
        value="0" />
      <Service serviceType="Lambda" serviceName="demoLambda" metric="Invocations"
        value="2" />
      <Service serviceType="Lambda" serviceName="demoLambda" metric="Errors"
        value="2" />
      <Service serviceType="Lambda" serviceName="demoLambda" metric="Duration"
        value="910.94" />
      <Service serviceType="Lambda" serviceName="demoLambda" metric="Throttles"
        value="0" />
      <Service serviceType="Lambda" serviceName="demoLambda" metric="ConcurrentExecutions"
        value="0" />
      <Service serviceType="ApiGateWay" serviceName="" metric="url"
        value="NotFound" />
      <Service serviceType="SQS" serviceName="Demo3" metric="CountOfMessages"
        value="1" />
    </services>
  </serviceSection>
</configuration>